body {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #f8f8f8;
}

.App {
  display: flex;
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
}