.loaderContainer{
    margin-top: 61px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 61px 10px 10px 10px;
}

.card {
    display: flex;
    align-self: center;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    height: 125px;
    width: 100%;
    margin: 4px 0px;
    cursor: default;
}

.card:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.color {
    display: flex;
    height: 100%;
    width: 15px;
    background: #238823;
    border-radius: 4px 0px 0px 4px;
}

.yellow {
    background: #FFBF00;
}

.red {
    background: #D2222D;
}

.prod_image {
    display: flex;
    width: 125px;

}

.prod_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 15px;
}

.row {
    display: flex;
    width: 100%;
    height: auto;
    margin: 2px;

}

h1{
    font-size: 14px;
    font-weight: 600;
    color:#021135;
    margin: 0px;
}

p{
    display: flex;
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
}

#white{
    align-self: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

#grey{
    color: grey;
    margin-bottom: 5px;
}


.btn {
    display: flex;
    justify-content: center;
    width: 175px;
    height: auto;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 0px;
    background: #021135;
}

.btn:hover {
    background: #021135c4;
}

.info {
    display: flex;
    justify-content: center;
    align-self: right;
    width: 30px;
    height: auto;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 0px;
    border: solid 2px grey;
}

#seller {
    align-self: flex-end;
}

.seller-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}