/* src/content.css */

.my-extension body {
    margin: 0px;
    display: flex;
    width: 100%;
}

.my-extension{
    padding: 20px;
    display: flex;
    width: 100%;
}

.my-extension h1{
    color: #000;
}

.frame-root {
    display: flex;
    width: 100%;
}

.frame-content {
    display: flex;
    width: 100%;
}